.color-nav {
  background-color: black;
}

.footer {
  position: relative;
  left: -8px;
  width: calc(100% + 8px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: rgb(63, 60, 60);
}

.contact {
  display: flex;
  flex-flow: row;
  width: 250px;
  justify-content: space-around;
  padding-bottom: 10px;
}

.contact a i {
  color: rgb(206, 203, 203);
  font-size: 22px;
}
.footer p {
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(206, 203, 203);
}

.footer hr {
  width: 400px;
  border-width: 1px;
  border-color: white;
}

.contact i:hover,
.footer p:hover {
  color: ivory;
}

.nav-link {
  text-decoration: unset;
}
